
<h1>Home</h1>
<%= render "tweets/form", { tweet: Tweet.new } %>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <% if tweet.replied_to_id.nil? %>
      <%= render tweet %>
    <% end %>
  <% end %>
</div>

