
<h1>Home</h1>
<%= render "tweets/form", { tweet: Tweet.new}%>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
</div>

